/* Runtergeladene Fonts im Ordner schriften (oder anderen Ordner) als eot, woff und wof2 Format abspeichern */

/* 
300: thin
400: regular
500: medium
600: semi-bold
700: bold
800: extra-bold
900: black

*/

@font-face {
    font-family: 'frijole';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../schriften/frijole-regular.eot');
    src: url('../schriften/frijole-regular.eot?#iefix') format('embedded-opentype'), 
        url('../schriften/frijole-regular.woff2') format('woff2'),
        url('../schriften/frijole-regular.woff') format('woff');
}
