/* Runtergeladene Fonts im Ordner schriften (oder anderen Ordner) als eot, woff und wof2 Format abspeichern */

/* 
300: thin
400: regular
500: medium
600: semi-bold
700: bold
800: extra-bold
900: black

*/

@font-face {
    font-family: 'frijole';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('../schriften/Frijole-Regular.eot');
    src: url('../schriften/Frijole-Regular.eot?#iefix') format('embedded-opentype'), 
        url('../schriften/Frijole-Regular.woff2') format('woff2'),
        url('../schriften/Frijole-Regular.woff') format('woff'),
}
