html, body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}


/* erste Szene mit mantel und zoom*/ 

.container_mantel {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20; /* Erhöht */
  pointer-events: none;
}

#mantel {
  width: 30%;
}

.text_mantel {
  max-width: 30%;
}

/* zweite Szene mit frau walkcycle und strasse*/ 


.container_walk {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 10; /* Etwas niedriger als Mantel */
  width: 100vw;
  opacity: 0;
  pointer-events: none;
}

#frau_walk {
    width: 20%;
    display: block;
    z-index: 15;
    position: relative;
    margin-top: 5vh;
    /* Verhindert, dass das Bild beim Wechseln "springt" */
    object-fit: contain; 
}

#strasse_frontal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 130%;
  height: auto;
  z-index: 5; /* Niedriger als Video */
  transform: translateX(100%);
  will-change: transform;
}

#abfallender_knopf {
    width: 0.5%;
    position: fixed;
    z-index: 100;
    opacity: 0;
}

/* dritte Szene mit regen / knopf in pfütze */

.container_regen {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
}

.container_regen img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}


/* Regentropfen */

.regentropfen {
    position: fixed;
    top: -100px;
    opacity: 1;
    z-index: 110;
    pointer-events: none;
}

/* Schuh-Animation */

#schuh {
    width: 40%;
    position: fixed;
    top: 15%;
    left: -20%;
    z-index: 110;
    opacity: 0;
    transform-origin: left top;
    transform: rotate(90deg);
    pointer-events: none;
}



/* vierte Szene mit mauer */

.container_mauer {
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    z-index: 6;
    opacity: 1;
    pointer-events: none;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container_mauer img {
    width: auto;
    height: 40vh;
}

/* Scroll-Spacer für Szenen */

#scroll-spacer {
    height: 200vh;
}

#walk-spacer {
    height: 500vh;
}

#regen-spacer {
    height: 400vh;
    position: relative;
}

#schuh-spacer {
    height: 300vh;
    position: relative;
}

#mauer-spacer {
    height: 300vh;
    position: relative;
}

