/* SEITE MANTEL - EINLEITUNG */

.container_mantel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#mantel {
    height: 100vh;
}


/* SEITE MANTEL WALK */

#frau_walk {
    width: 20%;
}