@import "reset.css";
@import "fonts.css";

/* Verhindert horizontales Scrollen durch überstehende Elemente */
html, body {
    overflow-x: hidden;
}

body {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; /* skaliert Bild auf Viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* Knopf-Regen Animation */
.falling_button {
    position: fixed;
    animation: fall linear forwards;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    80% {
        transform: translateY(80vh) rotate(288deg);
        opacity: 0.9;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

/* Pinker-Knopf-Regen Animation */
.special_falling_button {
    position: fixed;
    opacity: 0; /* Startet unsichtbar */
    animation: fallToO 3s ease-in forwards;
    z-index: 10; 
}

@keyframes fallToO {
    0% {
        opacity: 1; /* Wird sichtbar beim Start der Animation */
        top: -350px;
        left: 50%;
        transform: translate(-50%, 0) rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(720deg);
    }
}
.start {
    min-height: 100vh; /* Nimmt die ganze Bildschirmhöhe ein */
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'frijole';
    font-weight: 400;
    color: white;
    font-size: 9rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

h1.visible {
    opacity: 1;
}

#o-target {
    opacity: 0;
    position: relative;
}
