@import "reset.css";
@import "fonts.css";



/* ALLGEMEINE STYLES */

body {
    background-image: url('../images/background.png');
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}



h1 {
    font-family: 'frijole';
    font-weight: 400;
    color: white;
    font-size: clamp(4rem, 10vw, 11rem);
    text-align: center;
}

p {
    font-family: 'arial', sans-serif;
    font-weight: 400;
    color: white;
    font-size: clamp(1rem, 1.5vw, 2rem);
}
