@import "reset.css";
@import "fonts.css";

body {
    background-image: url('../images/background.png');
}

/* Knopf-Regen Animation */
.falling_button {
    position: fixed;
    animation: fall linear forwards;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    80% {
        transform: translateY(80vh) rotate(288deg);
        opacity: 0.9;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}