@import "reset.css";
@import "fonts.css";



/* ALLGEMEINE STYLES */

body {
    background-image: url('../images/background.png');
    background-repeat: repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}


h1 {
    font-family: 'frijole';
    font-weight: 400;
    color: white;
    font-size: clamp(4rem, 10vw, 11rem);
    text-align: center;
}

p {
    font-family: 'arial', sans-serif;
    font-weight: 400;
    color: white;
    font-size: clamp(1rem, 1.5vw, 2rem);
}


/*Button */

.button {
    font-family: 'frijole';
    font-weight: 400;
    font-size: clamp(2rem, 2.4vw, 3rem);
    color: white;
    background-color: #DB97C7;
    border: none;
    border-radius: 30px;
    margin-top: 10%;
    padding: 4% 8%;
    cursor: pointer;
    box-shadow: 0 2% 4% rgba(0, 0, 0, 0.1);
    transition: opacity 0.2s ease-in;
    text-decoration: none;

    &:hover {
        background-color: #ffbceb;
    }
}
