.container_geschichte {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 4%;
    justify-content: center;
    align-items: center;
}

.container_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;

}

.text_geschichte {
    width: 90%;
    text-align: center;
}

.container_fotos {
    display: flex;
    width: 55%;
    justify-content: space-around;
    align-items: center;
}

.foto_strassenrand {
    width: 40%;
    visibility: visible;
    transition: opacity 0.3s ease-in-out;
}

.foto_strassenrand_normal:hover {
    content: url('../images/fotos/knopfi_strassenrand_farbig.jpg');
}

.foto_strassenrand_nah:hover {
    content: url('../images/fotos/knopfi_strassenrand_nah_farbig.jpg');
}


/*** kleiner PC / Tablet ***/
@media screen and (max-width: 768px) and (min-width: 577px) {

.container_geschichte {
    flex-direction: column;

}

.container_text {
    width: 80%;
    margin-top: 5%;
}

.container_fotos {
    width: 100%;
}


}

/*** Handy  ***/
@media screen and (max-width: 576px) {

    
.container_geschichte {
    flex-direction: column;

}

.container_text {
    width: 80%;
    margin-top: 5%;
}

.container_fotos {
    width: 100%;
}



}





